* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.bg {
    height: 100vh;
    width: 100%;
    position: sticky;
    z-index: 0;
}

/* nav bar */
nav {

    display: flex;
    top: 20px;
    left: 110px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    background-color: #807e7e00;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    color: white;
    box-shadow: #ffffff 0 0 3px;
    z-index: 1;

}

nav .name a {
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    list-style: none;
    font-weight: bold;
}

nav ul {
    justify-content: space-evenly;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    transition: 0.1s ease-in;
}

nav ul li a:hover {
    height: 60px;
    width: 80px;
    background: linear-gradient(#007e898e, #002a488e);
    color: #ffffff;
    box-shadow: #006e76b2 0 0 10px;
}

/* nav bar ends */








@media screen and (max-width: 425px) {

    .bg1 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        object-fit: cover;
        z-index: -1;
    }

    /* nav bar */
    nav {
        display: flex;
        top: 20px;
        left: 20px;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 90%;
        background-color: #807e7e00;
        backdrop-filter: blur(3px);
        border-radius: 20px;
        color: white;
        box-shadow: #ffffff 0 0 3px;

    }

    nav ul li a {
        font-size: 08px;
    }

    /* nav bar ends */








}