*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #020f49, #2c0156);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    top: 20px;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    background-color: #807e7e6b;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: white;
}
nav .name{
    font-size: 24px;
    font-weight: bold;
}
nav ul{
    justify-content: space-evenly;
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
nav ul li a:hover{
    width: 100px;
    background: #000;
    color: #ff5733;
}